@font-face {
    src: url("../src/views/Luckybones-Bold.ttf") format('ttf'),
    url("../src/views/Luckybones-Bold.ttf2") format('ttf2');
    font-family: 'Luckybones';
}

.root{
    -fx-background-color: #FFF4E9;
}
.lable{
    -fx-font-size: 30; 
    -fx-font-family: 'Luckybones', sans-serif;
}
.navbarItem{
    visibility: false;
}
.navbar{
    -fx-font-size: 25; 
    -fx-font-family: 'Luckybones', sans-serif;
    -fx-background-color: transparent;
}
.navbar:hover .navbarItem{
    visibility: true;
}
